body{
	font-family: sans-serif;
	background: #B0C4DE; 
}

#wrap{
	width: 1300px;
	margin: auto;
}

h1{
	font-weight: lighter;
	font-weight: 20px;
	padding: 20px;
	letter-spacing: -1px;
}

a{
	text-decoration: none;
	color: purple;
}